<div>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <h2>Add Two Numbers</h2>
    <form (ngSubmit)="calculateSum()">
      <label for="number1">Number 1:</label>
      <input
        type="number"
        [(ngModel)]="number1"
        name="number1"
        required
      />
      <br />
      <label for="number2">Number 2:</label>
      <input
        type="number"
        [(ngModel)]="number2"
        name="number2"
        required
      />
      <br />
      <button type="submit">Add</button>
    </form>
    <h3 *ngIf="sum !== null">Result: {{ sum }}</h3>
  </div>
  